- if @show_notifications
  = link_to (image_tag "icons/notifications_icon.svg"), params.merge(show_notifications: false)
  %div.notifications
    - @recent.each_with_index do |msg, index|
      = message_bar_helper(msg, index)
    = link_to "View older messages", current_user
- else
  = link_to (image_tag "icons/notifications_icon.svg"), params.merge(show_notifications: true, user_id: current_user.id), :class => ('new_notification' if current_user.has_new_message)
