/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body{
 background: #EAE9E7;
}



/* USERBAR */
#userbar{
   position:inline;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:5px;
   background:#3F3F3E;

}


.user-bar {
   display:inline-block;
   font-size:150%;
   color: white;
   position:relative;
   font-family:'Helvetica Neue', 'Arial';
   width:auto;
}

.sign.register {
   display:inline-block;
   font-family: 'Pacifico', cursive;
   clear:left;
   font-size:110%;
}

#signin {
   color: white;
   width:auto;
   margin-left:900px;
}

#register {
   color: white;
   width:auto;
}

/*Leagues */


head {
    background: #EAE9E7;
}
.leagues {
  color: :#3F3F3E;
   padding:20px;
    background: #EAE9E7;
   display:inline-block;
   font-size:150%;
   color: black;
   position:relative;
   font-family:'Helvetica Neue', 'Arial';
   width:auto;
}


.image-container {
  height:200px;
}

.league-container {
   display:inline-block;
   font-family: 'Pacifico', cursive;
   clear:left;
   font-size:110%;
   background: #EAE9E7;
   padding:20px;
   color: :#3F3F3E;
}

.league {
  display:inline;
   color: black;
   width:auto;
   margin:20px;
}


