$lightGrey: #EAE9E7;
$grey: #BBBBBB;
$darkGrey: #3F3F3E;
$lightSalmon: #E3AA93;
$salmon: #D57C60;
$darkSalmon: #CD6144;
$lightLavender: #CD6144;
$lavender: #8D8EBA;
$darkLavender: #48496E;
$lightTan: #DBD1AD;
$tan: #C7B980;
$darkTan: #7A6F43;
$lightMoss: #A5B796;
$moss: #749665;
$darkMoss: #344A2A;

//CSS RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: white;
  text-decoration: none;
}
// END RESET

html, body{
 height: 100%;
}

.container {
  background-color: $lightGrey;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  width: 978px;
  overflow: auto;
  border-style: solid;
  border-width: 0px 1px;
  border-color: $darkGrey;
  font-family: 'Helvetica Neue', 'Arial';
}   

/* USERBAR */
.user-bar {
  background-color: $darkGrey;
  width: 100%;
  color: white;
  font-family: league-gothic, 'Arial';
  .logo {
    font-size: 3em;
    padding-left: 10px;
  }
  .right {
    position: absolute;
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
    top: 12px;
    right: 10px;
  }
  a {
    color: white;
  }
}


.images {
  padding:20px;
  border-radius: 50%;
  background-color: black;
}

//LEAGUES on home page

.padding-container {
	margin-left: 8%;
	margin-right: 8%;

}

.sports-wrapper, leagues-wrapper {
	height:150px;
	width:500px;
	padding-top:30px;
}

.sports-wrapper{
	margin-left:12px;
}

.title{
	font-size: 35px;
	font-weight:200;
	display:inline-block;
	font-family: league-gothic, 'Arial';
	color: $darkGrey;
	display:inline-block;
	vertical-align:30px;
	
}


.image-wrapper {
  display: inline-block;
  padding: 20px;
  font-family: 'Pacifico', cursive;
	text-align:center;
}

.image-text{
  color: $grey;
  padding-bottom: 7px;
	a {
	color:$grey;
	}
}

.sport_icon{
  padding: 10px;
  border-radius: 50%;
  background-color: #8D8EBA;
	width:60px;
	height:60px;

}

.bball_image{
  padding: 10px;
  border-radius: 50%;
  background-color: $lavender;
	width:60px;
	height:60px;
}

.football_image {
  padding:10px;
  border-radius: 50%;
  background-color:#CD6144;
	width:60px;
	height:60px;
}

.vball_image {
  padding:10px;
  border-radius: 50%;
  background-color: #749665;
	width:60px;
	height:60px;
}

.sport_icon_all{
}


// DIVISIONS on home page

.divisions-wrapper {
	padding-top:20px;
	width:670px;
	margin-left:auto;
	margin-right:auto;
	
}

.divisions-title {
	text-align:center;
	color: $darkGrey;
	font-size: 35px;
	font-weight:200;
	font-family: league-gothic, 'Arial';
	margin-bottom:6px;
}

.tab {
	padding:20px;
	background-color:$darkLavender;
	border-radius:7px;
}

table {
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:50px;
  font-family: 'Pacifico', cursive;
	color:white;
}

.div-slot {
	width:50px;
	text-align:center;
}

td {
	text-align:center;
	width:40px;
}

//DIVISION PAGE
.div-padding-container {
}

.league-box {
	font-family: league-gothic, 'Arial';
	font-size:30px;
	margin-left:auto;
	margin-right:auto;
	width:200px;
	padding:20px;
	background-color:white;
	border-radius:7px;
	text-align:center;
	margin-top:20px;

}
