$lightGrey: #EAE9E7;
$grey: #BBBBBB;
$darkGrey: #3F3F3E;
$lightSalmon: #E3AA93;
$salmon: #D57C60;
$darkSalmon: #CD6144;
$lightLavender: #C9A0DC;
$lavender: #8D8EBA;
$darkLavender: #48496E;
$lightTan: #DBD1AD;
$tan: #C7B980;
$darkTan: #7A6F43;
$lightMoss: #A5B796;
$moss: #749665;
$darkMoss: #344A2A;

//CSS RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left:auto;
  margin-right:auto;
  width: 600px;
  height:50px;
  font-family: 'Pacifico', cursive;
  color: white;
}

td {
  text-align:center;
  width:40px;
}

a {
  color: $grey;
  text-decoration: none;
}
// END RESET

html, body{
 height: 100%;
}

h1 { 
  font-size: 2em;
  font-family: league-gothic;
}

.container {
  background-color: $lightGrey;
  margin: 0 auto;
  min-height: 100%;
  padding: 0;
  width: 978px;
  overflow: auto;
  border-style: solid;
  border-width: 0px 1px;
  border-color: $darkGrey;
  font-family: 'Helvetica Neue', 'Arial';
  color:$darkGrey;
  .left-container{
    float: left;
    text-align: center;
    margin: 0;
    margin-left: 5%;
    width: 40%;
    font-size: 1.3em;
    a {
      color: $darkGrey;
    }
  }
  .right-container {
    float: left;
    width: 55%;
    padding: 0;
    margin:0;
    & table {
      margin-top: 40px;
      margin-left:auto;
      margin-right:auto;
      width:100%;
      height:50px;
      font-family: 'Pacifico', cursive;
      color:$darkGrey;
      a {
          color: white;
      }
    }
    td {
      padding-bottom: 55px;
			padding-right:20px;
    }
  }
}

.grey-header {
  font-family: league-gothic, 'Arial';
  font-size:2em;
  color: white;
  background-color:$darkGrey;
  width:180px;
  padding:8px;
  border-radius:7px;
  margin-left:auto;
  text-align:center;
  margin-right:auto;
  margin-bottom: 10px;
}

.grey-button {
  font-size: .8em;
  background: $lightGrey;
  border-radius: 10px;
  border: 1px solid $grey; 
  margin: 5px;
  text-align: center;
  padding: 10px;
  font-family: league-gothic;
  width: 100px;
}

.white-button {
  font-size: .8em;
  background: white;
  border-radius: 10px;
  border: 1px solid $grey; 
  margin: 5px;
  text-align: center;
  padding: 10px;
  font-family: league-gothic;
  width: 100px;
}

.text-field {
  font-size: .8em;
  background: white;
  border-radius: 10px;
  border: 1px solid $grey; 
  margin: 5px;
  text-align: center;
  padding: 10px;
  font-family: league-gothic;
}

.header-box {
  font-family: 'Helvetica Neue', 'Arial';
  margin-left:auto;
  margin-right:auto;
  width:30%;
  padding:15px;
  background-color:white;
  border-radius:7px;
  text-align:center;
  margin-top:20px;
  color:$darkGrey;
  border-style:solid;
  border-width:1px;
  border-color:$grey;
  margin-bottom: 20px;
  .title {
    font-family: league-gothic;
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .body {
    padding-top: 0;
    margin-top: -20px;
  }

}

/* USERBAR */
.user-bar {
  background-color: $darkGrey;
  width: 100%;
  color: white;
  font-family: league-gothic, 'Arial';
  .logo {
    font-size: 3em;
    padding-left: 10px;
  }
  .notification-icon {
    position: absolute;
    top: 0px;
    right: 175px;
    .notifications {
      background-color: $darkGrey;
      position: absolute;
      top: 48px;
      right: 0;
      width: 200px;
      padding-left: 10px;
      font-size: 1.3em;
      }
  }
  .right {
    position: absolute;
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
    top: 16px;
    right: 10px;
  }
  a {
    color: white;
  }
}

//LEAGUES on home page

.padding-container {
  margin-left: 8%;
  margin-right: 8%;

}

.sports-wrapper, leagues-wrapper {
  height:150px;
  width:500px;
  padding-top:30px;
}

.sports-wrapper{
  margin-left:12px;
}

.title{
  font-size: 35px;
  font-weight:200;
  display:inline-block;
  font-family: league-gothic, 'Arial';
  color: $darkGrey;
  display:inline-block;
  vertical-align:30px;
  
}

.image-wrapper {
  display: inline-block;
  padding: 20px;
  font-family: 'Pacifico', cursive;
  text-align:center;
}

.image-text{
  color: $grey;
  padding-bottom: 7px;
  a {
  color:$grey;
  }
}

.sport_icon{
  padding: 10px;
  border-radius: 50%;
  background-color: #8D8EBA;
  width:60px;
  height:60px;

}

.sport_image{
  padding: 10px;
  border-radius: 50%;
  background-color: $lavender;
  width:60px;
  height:60px;
}

.bball_image{
  padding: 10px;
  border-radius: 50%;
  background-color: $lavender;
  width:60px;
  height:60px;
}

.football_image {
  padding:10px;
  border-radius: 50%;
  background-color:#CD6144;
  width:60px;
  height:60px;
}

.vball_image {
  padding:10px;
  border-radius: 50%;
  background-color: #749665;
  width:60px;
  height:60px;
}

.sport_icon_all{
}


// DIVISIONS on home page

.divisions-wrapper {
  padding-top:20px;
  width:670px;
  margin-left:auto;
  margin-right:auto;
  
}

.divisions-title {
  text-align:center;
  color: $darkGrey;
  font-size: 35px;
  font-weight:200;
  font-family: league-gothic, 'Arial';
  margin-bottom:6px;
}

.tab {
  padding:20px;
  background-color:$darkLavender;
  border-radius:7px;
}


.div-slot {
  width:50px;
  text-align:center;
}



//DIVISION PAGE
.div-padding-container {
}

.league-box {
  font-family: league-gothic, 'Arial';
  font-size:30px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  padding:15px;
  background-color:white;
  border-radius:7px;
  text-align:center;
  margin-top:20px;
  color:$darkGrey;
  border-style:solid;
  border-width:1px;
  border-color:$grey;
}

.date-container {
  margin-top:10px;
  font-family: league-gothic, 'Arial';
  font-size:25px;
  color: white;
  background-color:$darkGrey;
  width:180px;
  padding:8px;
  border-radius:7px;
  margin-left:auto;
  text-align:center;
  margin-right:auto;
  margin-bottom: 35px;
}

.teams-box {
  font-family: league-gothic, 'Arial';
  font-size:30px;
  margin-left:auto;
  margin-right:auto;
  width:30%;
  padding:15px;
  background-color:white;
  border-radius:7px;
  text-align:center;
  margin-top:20px;
  color:$darkGrey;
  border-style:solid;
  border-width:1px;
  border-color:$grey;
  a {
    color: $darkGrey;
  }
}

.versus-container{
  & table {
    margin-left:auto;
  margin-right:auto;
  width:100%;
  height:50px;
    font-family: 'Pacifico', cursive;
  color:$darkGrey;
  a {
      color: white;
  }
  }
  td {
    padding-bottom: 35px;
		padding-right:20px;
  }
	.admin-game {
		color: $darkGrey;
	}
}

.team-icon {
  margin-left:20px;
  margin-right:20px;
  width:90px;
  height:90px;
  background-color: $darkGrey;
  border-radius:50%;
  padding:15px;
  font-size:25px;
  font-family: 'Pacifico', cursive;
}

.back {
  font-family: 'Pacifico', cursive;
  color:$grey;
}

.bottom-bar {
  margin-left:20px;
}


// SIGN UP
.sign-up {
  font-family: 'Pacifico', cursive;
  padding-left:60px;
  margin-top:20px;
  font-size:30px;
  color: $darkLavender;
}

.signup-form {
  padding:20px;
  margin-left:50px;
  margin-top:20px;
  margin-top:20px;
  background-color: white;
  width:400px;
  height: auto;
  border-radius: 5px;
  margin-bottom:30px;
}

.sign-in {
  font-family: 'Pacifico', cursive;
  padding-left:25px;
  margin-top:20px;
  font-size:23px;
  color: $darkLavender;
  margin-bottom:20px;
}

.sign-in-form {
  padding: 10px;
  background:white;
  margin-left:20px;
  border-radius: 5px;
  width:400px;
}

.new-user-container {
  padding-top: 5px;

}

.new-user {
  font-family: 'Pacifico', cursive;
  color: $darkLavender;
  padding-left: 3px;
  display: inline-block;
}

.sign-up-now {
  font-family: 'Pacifico', cursive;
  color:$grey;
  display: inline-block;
}

.field {
  font-family: league-gothic, 'Arial';
  font-size:20px;
  color:$darkGrey;
}


// LISTING TEAMS
.listing-teams {
  font-size:30px;
  font-family: league-gothic, 'Arial';
  color:$darkGrey;
  padding:20px;
  margin-left:10px;
  text-align:center;
}

.teams-table {
  width:600px;
  font-size: 20px;
  background:$grey;
  margin-left:20%;
  margin-right:20%;
  padding:5px;
  border-radius:5px;
}   

.new-team {
  margin-left:50px;
  margin-top:20px;
  font-family: 'Pacifico', cursive;
  font-size:20px;
}

// NEW TEAM SIGN UP
.new-team-title{
  margin-left:40px;
  margin-top:20px;
  font-family: 'Pacifico', cursive;
  font-size:25px;
  margin-bottom:20px;
  color:$darkLavender;
}

.team-back {
  margin:15px;
  padding-top:50px;
  font-family: 'Pacifico', cursive;
  color:$grey;
}

.create-league {
  font-family: 'Pacifico', cursive;
	margin-left:20px;
}

.admin-stuff {
	padding:5px;
}

.edit-game{
	color:grey;
}

td {

}
